@model IEnumerable<ASS.Data.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>STUDENCI</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a class="btn btn-danger deleteBtn" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>

            </td>
        </tr>
}
    </tbody>
</table>
